<!--occupants.ejs-->

<table class="table">
    <% c = 1 %>
    <% rentals.forEach(function(model) { %>
    <tr>
        <td><%= c %></td>
        <td><%= model.username %></td>
    <tr>
        <%  c += 1; %>
        <%  }); %>
</table>

