<!--nav.ejs-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <% if (!req.session.username) { %>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav col-xl-10">
                <a class="nav-item nav-link" id="Home" href="/">Home</a>
                <a class="nav-item nav-link" id="Search" href="/rental/search">Search</a>
            </div>
            <a class="nav-item nav-link col-xl-1" id="Login" href="/user/login">Sign in</a>
            <a class="nav-item nav-link btn btn-outline-info col-xl-1" id="Login" href="/user/signup">Sign up</a>
        </div>
    </nav>

    <% } else if (req.session.username == 'admin') { %>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav col-xl-10">
            <a class="nav-item nav-link" id="Home" href="/">Home</a>
            <a class="nav-item nav-link" id="Search" href="/rental/search">Search</a>
            <a class="nav-item nav-link" id="Create" href="/rental/create">Create</a>
            <a class="nav-item nav-link" id="Admin" href="/rental/admin">Admin</a>
        </div>
        <span class="col-xl-1">Hi,<%= req.session.username %>.</span>
        <a class="nav-item nav-link btn btn-outline-info col-xl-1" href="/user/logout">Log out</a>
    </div>

    <% } else { %>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav col-xl-10">
            <a class="nav-item nav-link" id="Home" href="/">Home</a>
            <a class="nav-item nav-link" id="Search" href="/rental/search">Search</a>
            <a class="nav-item nav-link" href="/user/myRental">My Rentals</a>
        </div>
        <span class="col-xl-1">Hi,<%= req.session.username %>.</span>
        <a class="nav-item nav-link btn btn-outline-info col-xl-1" href="/user/logout">Log out</a>
    </div>

    <% }; %>
</nav>


<!--jumbotron.ejs-->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Real Estate Rental System</h1>
        <p class="lead">Real Estate Rental Management System is a web-based system to facilitate flatshare and
            finding roommates.</p>
    </div>
</div>